// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

nav {
    display: flex;
    justify-content: space-between;
    div { display: flex; }
    .logo { width: 3em; }
    h1 { margin: auto 1em; }
    ul {
      list-style: none;
      display: flex;
      align-items: stretch;
    }
    li { padding-left: 1em; }
}